[submodule "pack/github/start/vim-gotham"]
	path = pack/github/start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "pack/github/start/vim-tmux"]
	path = pack/github/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "pack/github/start/vim-flake8"]
	path = pack/github/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/github/start/vim-signify"]
	path = pack/github/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/github/start/vim-airline"]
	path = pack/github/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/github/start/fzf"]
	path = pack/github/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/github/start/rainbow_csv"]
	path = pack/github/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
